<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ url_for('static', filename='encr.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
      textarea {
        width: 100%;
        height: 200px;
      }
      input {
        width: 100%;
      }
      button {
        height: 30px;
        padding: 0 30px;
      }
      #urlBlock {
        display: none;
      }
    </style>
  </head>

  <body>
    <div>
      {% if request.args.get('e') %}
        <textarea style="display:none" id='plainText'></textarea>
        <br/>
        <center>
          <button id="decr">Decrypt</button>
          <a href="/">Click here to encrypt</a>
        </center>
      {% else %}
        <div id="inputBlock">
          Enter plain text:
          <textarea id='plainText'></textarea>
          <br/>
          <br/>
          <center>
            <button id="encr">Encrypt</button>
          </center>
        </div>
        <div id="urlBlock">
          Url to share:
          <input type="text" readonly id="encrUrl" />
        </div>
      {% endif %}
    </div>

    <script>
      $(function () {
        function makeKey(n) {
          var text = "";
          var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

          for (var i = 0; i < n; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length));

          return text;
        }

        $('#encr').click(function (e) {
          e.preventDefault();
          let plainTextElm = $('#plainText');
          let key = makeKey(20);
          let encrText = GibberishAES.enc(
            plainTextElm.val(), key
          );

          $.post("{{ url_for('encode') }}", {'encr': encrText})
          .done(function (hash) {
            plainTextElm.hide();
            $('#inputBlock').hide();
            $('#urlBlock').show();
            $('#encrUrl').val(
              "{{ url_for('index', _external=True) }}?e=" + hash + '#' + key
            ).select();
          })
          .fail(function (e) {
            alert(e.responseText);
          });
        });

        $('#decr').click(function (e) {
          e.preventDefault();
          $(this).hide();

          let hash = "{{ request.args.get('e') }}";
          let plainTextElm = $('#plainText');
          let key = window.location.hash.substring(1);

          if (!key) {
            plainTextElm.show();
            plainTextElm.val('Link expired or invalid!');
            return;
          }

          $.post("{{ url_for('decode') }}", {'hash': hash})
          .done(function (encrText) {
            plainTextElm.show();
            plainTextElm.val(GibberishAES.dec(
              encrText, key
            ));
          })
          .fail(function (e) {
            plainTextElm.show();
            plainTextElm.val('Link expired or invalid!');
          });
        });
      });
    </script>
  </body>
</html>
